div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}



/**/
div.wone-contents-wrap > div.wone-page-wrap div.user-inflow-out-box{
    margin-top: 10px;
    padding: 12px;
    width: 440px;
    height: 340px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.total-user {
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap div.total-people{
    font-size: 18px;
    font-weight: 700;
    color: #3498db;
}

div.wone-contents-wrap > div.wone-page-wrap i.number-of-people{
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.user-inflow-inner-box{
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.notice-out-box {
    margin-top: 12px;
    padding: 12px;
    width: 440px;
    height: 190px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.notice{
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.notice-inner-box {
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.user-list-out-box {
    margin: 10px 0 0 12px;
    padding: 12px;
    width: 440px;
    height: 440px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.user-list{
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.user-list-inner-box {
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 380px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 12px;
    padding: 12px;
    width: 440px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;
    background-color: #ededed;
    border-radius: 8px;
}


