<template>
    <div class="wone-global-wrap flush-box">
        <div class="wone-menu-wrap">
            <!-- left menu top -->
            <div class="wone-people-info-wrap flush-box">
                <div class="in-logo"><img src="/images/logo.png" alt="logo" /></div>
                <div class="in-info">
                    안녕하세요!<br />
                    <strong><span>관리자</span>님</strong>
                </div>
            </div>

            <!-- left menu bottom (real menu) -->
            <div class="wone-menu-box">
                <ul class="wone-menu-group">
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-s-home"></i> HOME</div>
                        <div class="depth2-info">
                            <ul class="depth2-group">
                                <li class="active"><i class="el-icon-eleme"></i> DASHBOARD</li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-edit-outline"></i> 서비스 관리</div>
                        <div class="depth2-info">
                            <ul class="depth2-group">
                                <li class="active"><i class="el-icon-s-tools"></i> 서비스 설정</li>
                                <li class="active"><i class="el-icon-user-solid"></i> 사용자 리스트</li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-warning"></i> 게시판</div>
                        <div class="depth2-info">
                            <ul class="depth3-group">
                                <li class="active"><i class="el-icon-s-comment"></i> 문의사항</li>
                                <li class="active"><i class="el-icon-document"></i> 공지사항</li>
                                <li class="active"><i class="el-icon-s-opportunity"></i> 이용방법</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- left menu -->
        <div class="wone-contents-wrap"> <!-- contents -->
            <div class="wone-bread-info-wrap ">
                <div class="depth1 mb-2">미리보기<i class="el-icon-arrow-right"></i></div>
                <div class="depth2 mb-3">Dash Board</div>
            </div> <!-- bread menu -->
            <div class="wone-page-wrap">
                <Nuxt />
            </div>
        </div>
    </div>
</template>
<script>

</script>
