<template>
    <div class="wone-main-container">
    </div>

</template>


<script>
export default {
    data() {
        return {
            tableData: [{
                createdate: '24.01.02',
                name: '홍길동',
                open: 'N',
                faqcontents: '카드 설정 후 메인 카드 변경이\n안되네요 확인해주세요',
                fqa:''
            }, {
                createdate: '24.01.02',
                name: '김철수',
                open: 'Y',
                faqcontents: '카테고리 아이콘 변경은 불가능 한가\n문의드립니다~~',
                fqa:''
            }],
            currentRow: null
        }
    },

    methods: {
        setCurrent(row) {
            this.$refs.singleTable.setCurrentRow(row);
        },
        handleCurrentChange(val) {
            this.currentRow = val;
        }
    }
}
</script>
