<template>
    <div>
        대시보드 내용이다..
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
